.img{
    max-width: 100%;
    height: auto;
}
.body-background {
    background-color: #EFEFEF;
}

#title {
    font-size: 45px;
    color: #707070;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 4% auto;
}

body {
    padding-top: 20px;
    padding-bottom: 40px;
}

#mainNav {
    font-family: 'Roboto';
    font-size: 14px;
    text-transform: uppercase;
    background-color: #f9f7f7;
}

.navbar-brand {
    font-size: 20px;
}

#icon {
    max-width: 400px;
    margin: 1% auto;
}




