.body-background {
    background-color: #FFFFFF;
}

#title {
    font-size: 45px;
    color: #707070;
}

img {
    object-fit: cover;
}

.breathe {
    padding-top: 10px;
}

.breathe-element {
    padding-left: 20px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.book-cover {
    padding-top: 10px;
    padding-bottom: 10px;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 6px;
  text-align: center;
  background-color: #f1f1f1;
  max-width: 200px;
  margin: auto;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 4% auto;
}

body {
    padding-top: 20px;
    padding-bottom: 40px;
}

#mainNav {
}

.navbar-brand {
}

#icon {
}

