body {
    padding-top: 20px;   
}


* {box-sizing:border-box}


.body-background {
    background-color: #FFFFFF;
}


.container, .bookContainer {
    width: 100%;
    max-width: 900px;
    margin: 1% auto;
    position: relative;
}


.textFont {
    font-family: 'Montserrat', sans-serif;
}


/* NAVBAR STYLING */
#mainNav {
    font-weight: bolder;
    font-size: 16px;
    height: 50px;  
}


/* centering navbar elements */
.navbar-nav>li>a {
    line-height: 36px;
    height: 55px;
}


/* navbar elements color */
.navbar-default .navbar-nav>li>a {
    color: #555555;
}


/* brand */
.navbar-brand {
    font-size: 26px;
    line-height: 30px;
}


/* brand color */
.navbar-default .navbar-brand {
    color: #555;
}


#editNavContainer {
  background-color: #f9f7f7;
}


.userButton {
  padding-right: 30px;
  padding-bottom: 0px;
  line-height: 45px;
  font-size: 20px;
  background-color: #f9f7f7;
}


.logoutButton {
  width: auto;
  padding: 5px 10px;
  background-color: #E89696;
  color: black;
  border-radius: 5px;
}


.dropdown-menu {
  padding: 15px;
}

#cartLink {
  color: #333333;
  font-size: 14px;
}

#purchaseStyle {
	padding-right: 20px;
}

/*-----------------------------------------------------------------------------------------*/
/* Style the breadcrumbs */
ul.breadcrumb {
  list-style: none;
  background-color: #FFFFFF;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 14px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}


/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #595959;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #555555;
  text-decoration: underline;
}


/*-----------------------------------------------------------------------------------------*/
/* Login styling */
/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 6px 6px;
  margin-top: 0px;
  margin-bottom: 12px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
}


/* Set a style for all login buttons */
.login {
  background-color: #f9f7f7;
  color: #555;
  padding: 8px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  max-width: 100%;
  min-width: 50%;
  border-radius: 10px;
}


/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}



/*-----------------------------------------------------------------------------------------*/
/* CAROUSEL STYLING */
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


/* Hide the images by default */
.mySlides {
  display: none;
}


/* Caption text */
.textCarousel {
  color: #F1F1F1;
  font-size: 24px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.active, .dot:hover {
  background-color: #717171;
}


/*-----------------------------------------------------------------------------------------*/
/* CARDS STYLING */
.containerTabs {
  padding-top: 5px;
  padding-bottom: 15px;
  width: 100%;
  max-width: 1000px;
  margin: 2% auto;
}


/* Float four columns side by side */
.column {
  /*float: left;*/
  width: 25%;
  padding: 0 10px;
}


.col-container {
    display: flex; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}


/* If the browser window is smaller than 600px, make the columns stack on top of each other */
@media only screen and (max-width: 600px) {
  .column { 
    display: block;
    width: 100%;
  }
}


/* Remove extra left and right margins, due to padding in columns */
.rowHome {margin: 0 -5px;}


/* Clear floats after the columns */
.rowHome:after {
  content: "";
  display: table;
  clear: both;
}


/* Style the counter random cards */
.card {
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 6px;
  padding-top: 12px;
  text-align: center;
  max-width: 200px;
  margin: auto;
  border-radius: 15px;
}


.price {
  color: grey;
  font-size: 12px;
}


.card button {
  border: none;
  outline: 0;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  max-width: 100%;
  min-width: 80%;
  font-size: 18px;
}


.card button:hover {
  opacity: 0.7;
}


/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


/*-----------------------------------------------------------------------------------------*/
/*FOOTER STYLING*/
footer {
    padding: 2%;
    width: 100%;
    background-color: #3c4859;
    color: #EFEFEF;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}


/* Links styling */
.link {
  color: #FFFFFF;
}


.link:hover {
  color:#BDBDBD;
}


.logo {
  margin-top: 4%;
  width: 100px;
  border-radius: 50px;
}


@media (max-width: 600px) {
  .logo{
    width: 80px;
    margin-top: 30%;
  }
}


/* Style the icon bar links */
.icon-bar a {
  padding: 5px;
  color: white;
  font-size: 15px;
  background-color: #000;
}


.fa-facebook {
  padding: 2px;
}


/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #BDBDBD;
}


/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/*CONTACT US PAGE FORM*/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 6px; 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; 
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 0px;
  margin-bottom: 12px;
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}


/* Add a background color and some padding around the form */
.containerForm {
  width: 100%;
  max-width: 1000px;
  margin: 2% auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/* EVENTS PAGE */
/* Style the buttons */
.btnFilter {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}


/* Add a light grey background on mouse-over */
.btnFilter:hover {
  background-color: #ddd;
}


/* Add a dark background to the active button */
.btnFilter.active {
  background-color: #666;
  color: white;
}


#myBtnContainer {
  width: 100%;
  padding-left: 120px;
  margin: 2% auto;
}


.containerEvents {
  width: 90%;
  padding-left: 120px;
  padding-bottom: 80px;
}

@media (max-width: 1024px){
  .containerEvents {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 1024px){
  #myBtnContainer {
    padding-left: 15px;
  }
}

.singlEventContainer {
  position: relative;
  width: 100%;
}


.imgEvent {
  display: block;
  width: 100%;
  height: 300px;

}


.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #EEEEEE;
  opacity: 0.7;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;/* slide effect */
}


.singlEventContainer:hover .overlay {
  width: 100%;
  left: 0;
}


.overlayText {
  color: black;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}


div.polaroid {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}


div.titleEventContainer {
  text-align: center;
  padding: 5px 5px;
}


/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/* SINGLE EVENT PAGE*/
.imgEventPage {
  width: 100%;
  height: auto;
  /*centering*/
  margin-left: auto;
  margin-right: auto;
}


.containerBook {
   width: 80%;
   height: auto;
   margin: 1% auto;
   padding-bottom: 100px;
}


/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/* BOOK PAGE*/

#bookCover {
  width: 70%;
  margin-left: 20px;
  margin-right: auto;
}


.avatar {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}


.checked {
  color: orange;
}


@media (max-width: 769px) {
  #bookCover {
    width: 80%;
  }
}

@media (max-width: 767px) {
  #bookContainer{
    width: 30%;
  }
}


@media (max-width: 767px){
  #booksDisplay {
    width: 60%;
  }
}


@media (max-width: 667px){
  #colResizeForSmart {
    width: 250px;
    height: 420px;
  }
}


/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/* AUTHOR PAGE*/
#coverAuthors {/* cover img in all author page*/
	width: 203px;
    border-radius: 300px;
    height: 203px;
    background-size: cover;
}


@media (max-width: 769px){
  #coverAuthors {
    max-width: 68%;
    height: 154px;
  }
}
#coverAuthor {/* cover img in author-detail*/
  width: 90%;
  padding-left: 100px;
}

@media (max-width: 767px){
  #coverAuthor {
    width: 100%;
    padding-left: 0px;
  }
}

.authorContainer {
  width: 100%;
  position: relative;
  padding-left: 100px;
  padding-right: 30px;
}

/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/* REGISTRATION PAGE*/
#registrationForm {
  padding-left: 200px;
  padding-right: 200px;"
}

#btnLogin {
  margin-top:88px;
}

input[type=text], input[type=email] {
  width: 100%;
  padding: 6px 6px;
  margin-top: 0px;
  margin-bottom: 12px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
}

@media (max-width: 500px){
  #btnLogin {
    margin-top: 0px;
    margin-bottom: 60px;
  }
}

@media (max-width: 768px){
  #registrationForm {
    padding-right: 20px;
    padding-left: 20px;
  }

}


/* The Modal (background) */
.modalAfterRegistration {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-content-registration {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 40px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}


/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
}


.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}