---
swagger: "2.0"
info:
  description: "This is the book store built for Hypermedia course at Polimi."
  version: "1.0.0"
  title: "Libreggiamo"
  contact:
    email: "alberto.frattini@mail.polimi.it"
  license:
    name: "Apache-2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "localhost:3000"
basePath: "/v2"
tags:
- name: "book"
  description: "Available book"
- name: "author"
  description: "Author of some book"
- name: "event"
  description: "Event in which some book is presented"
schemes:
- "http"
paths:
  /books:
    get:
      tags:
      - "book"
      summary: "Books available in the inventory"
      description: "List of books available in the inventory"
      operationId: "getAllBooks"
      produces:
      - "applications/json"
      parameters:
      - name: "offset"
        in: "query"
        description: "Pagination offset. Default is 0"
        required: false
        type: "integer"
      - name: "limit"
        in: "query"
        description: "Maximum number of items per page. Default is 20 and \
          \ cannot exceed 500."
        required: false
        type: "integer"
      responses:
        200:
          description: "A collection of Books"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Book"
        404:
          description: "Unexpected error"
      x-swagger-router-controller: "Book"
  /books/{bookId}:
    get:
      tags:
      - "book"
      summary: "Find book by ID"
      description: "Returns a book"
      operationId: "getBookById"
      produces:
      - "application/json"
      parameters:
      - name: "bookId"
        in: "path"
        description: "ID of book to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Successful operation"
          schema:
            $ref: "#/definitions/Book"
        400:
          description: "Invalid ID supplied"
        404:
          description: "Book not found"
      x-swagger-router-controller: "Book"
  /books/genres:
    get:
      tags:
      - "book"
      summary: "Find book by genre"
      description: "Returns books of a specific genre"
      operationId: "getBooksByGenre"
      produces:
      - "application/json"
      parameters:
      - name: "genre"
        in: "query"
        description: "Genre of books to return"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful operation"
          schema: 
            $ref: "#/definitions/Book"
        400:
          description: "Invalid genre supplied"
        404:
          description: "Books not found"
      x-swagger-router-controller: "Book"
definitions:
  Book:
    type: "object"
    required:
    - "ISBN"
    - "title"
    - "price"
    properties:
      ISBN:
        type: "string"
      title:
        type: "string"
      genre:
        type: "string"
      publisher:
        type: "string"
      description:
        type: "string"
      price:
        type: "number"
        format: "float"
        minimum: 0.01
        maximum: 100000000000000
      status:
        type: "string"
        description: "Book availability in the inventory"
        enum:
        - "available"
        - "out of stock"
    title: "Book"
    description: "A book for sale in the store"
    example:
      id: 0
      title: "Il deserto dei tartari"
      author: "Dino Buzzati"
      price: 7.1
      status: "available" 













